/*********************************************************************
 *                                                                   *
 * MODULE NAME :  cnrez.rc               AUTHOR:  Rick Fishman       *
 * DATE WRITTEN:  10-06-92                                           *
 *                                                                   *
 * DESCRIPTION:                                                      *
 *                                                                   *
 *  Resource file for CNREZ.EXE.                                     *
 *                                                                   *
 * HISTORY:                                                          *
 *                                                                   *
 *  10-06-92 - File Created                                          *
 *                                                                   *
 *  Rick Fishman                                                     *
 *  Code Blazers, Inc.                                               *
 *  4113 Apricot                                                     *
 *  Irvine, CA. 92720                                                *
 *  CIS ID: 72251,750                                                *
 *                                                                   *
 *********************************************************************/

#include <os2.h>
#include "cnrez.h"

ICON ICO_DOIT containr.ico

MENU ID_RESOURCES
{
    SUBMENU  "~Views", -1
    {
        MENUITEM "~Icon",             IDM_ICON
        MENUITEM "~Name/flowed",      IDM_NAME
        MENUITEM "~Tree/icon",        IDM_TREE
        MENUITEM "~Details",          IDM_DETAILS
        MENUITEM "T~ext/flowed",      IDM_TEXT
    }
}
